:root{
--background:#f5f5f5;
--surface:#ffffff;
--text:#111111;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    width: 400px;
    background-color: var(--surface);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.732);
}
.stats{
    color: #474747;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}   
body{
    background-color: var(--background);
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.card-header {
    background-color: var(--surface);
    height: 100px;
    margin-bottom: 30px;
}
.card-header h1{
    font-size: 36px;
    margin-bottom: 8px;
}
.card-header p{
    color: #666;
    line-height: 1.5;
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 16px;
}   
.areadetexto{
    width: 50*2%;
    height: 180px;
    resize: none;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #3f3f3f;
    color: white;
    font-size: 16px;
    font-family: inherit;
}
.buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.buttons button{
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.buttons button:hover{
    transform: translateY(-3px);
    background-color: #555;
}