body{
    background-color: rgb(133, 132, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header{
    background-color:  rgb(162,161,161);
}
.areadetexto{
    transform: translateY(75px);
    color: white;
    background-color: rgb(86, 86, 86);
    text-align: center;
    width: 300px;
    height: 150px;
    resize: none;
}

.hablar{
    color: white;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 150px;
    transition: background 0.5s linear;
}

.hablar:hover{
    background-color: rgb(162,161,161);
    transform: translateY(-10px);
    box-shadow: 100px;
}